<p style="color: green"><%= notice %></p>

<%= render "cliente_detalhes", cliente: @cliente %>

<div>
  <%= link_to "Editar Cliente", edit_cliente_path(@cliente), class: "btn btn-warning" %> |
  <%= link_to "Voltar para Clientes", clientes_path, class: "btn btn-secondary" %>

  <%= button_to "Excluir Cliente", @cliente, method: :delete, class: "btn btn-danger mt-2" %>
</div>
