<%= form_with(model: estoque) do |form| %>
  <% if estoque.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(estoque.errors.count, "erro") %> impediram este estoque de ser salvo:</h2>

      <ul>
        <% estoque.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :id_produto, "Produto", class: "form-label" %>
    <%= form.collection_select :id_produto, Produto.all, :id, :nome, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :quantidade_disponivel, "Quantidade Disponível", class: "form-label" %>
    <%= form.number_field :quantidade_disponivel, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_reposicao, "Data de Reposição", class: "form-label" %>
    <%= form.date_field :data_reposicao, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
