<p style="color: green"><%= notice %></p>

<%= render @estoque %>

<div>
  <%= link_to "Editar Estoque", edit_estoque_path(@estoque), class: "btn btn-warning" %> |
  <%= link_to "Voltar para Estoque", estoques_path, class: "btn btn-secondary" %>

  <%= button_to "Excluir Estoque", @estoque, method: :delete, class: "btn btn-danger mt-2" %>
</div>
