<%= form_with(model: venda_produto) do |form| %>
  <% if venda_produto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(venda_produto.errors.count, "error") %> prohibited this venda_produto from being saved:</h2>

      <ul>
        <% venda_produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id_venda, style: "display: block" %>
    <%= form.number_field :id_venda %>
  </div>

  <div>
    <%= form.label :id_produto, style: "display: block" %>
    <%= form.number_field :id_produto %>
  </div>

  <div>
    <%= form.label :quantidade, style: "display: block" %>
    <%= form.number_field :quantidade %>
  </div>

  <div>
    <%= form.label :preco_unitario, style: "display: block" %>
    <%= form.text_field :preco_unitario %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
