<div id="<%= dom_id venda_produto %>">
  <p>
    <strong>Id venda:</strong>
    <%= venda_produto.id_venda %>
  </p>

  <p>
    <strong>Id produto:</strong>
    <%= venda_produto.id_produto %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= venda_produto.quantidade %>
  </p>

  <p>
    <strong>Preco unitario:</strong>
    <%= venda_produto.preco_unitario %>
  </p>

</div>
