<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  <%= link_to "Editar Produto", edit_produto_path(@produto), class: "btn btn-warning" %> |
  <%= link_to "Voltar para Produtos", produtos_path, class: "btn btn-secondary" %>

  <%= button_to "Excluir Produto", @produto, method: :delete, class: "btn btn-danger mt-2" %>
</div>
